<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Test Result</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 min-h-screen flex items-center justify-center p-4">
<div class="bg-white p-6 rounded-lg shadow-md w-full max-w-2xl">
    <h1 class="text-2xl font-bold mb-6 text-center text-gray-800">Email Test Result</h1>
    <p class="text-center text-gray-700 mb-2">The email was sent successfully.</p>
    <p class="text-center text-gray-700 mb-2">Email Content:</p>
    <div class="bg-gray-100 p-4 rounded-md text-gray-800 overflow-auto max-h-96">
        <pre class="whitespace-pre-wrap break-words"><span th:text="${mailContent}"></span></pre>
    </div>
    <div class="mt-6 text-center">
        <a  href="/mail"
                class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 transition duration-300">Close
        </a>
    </div>
</div>
</body>
</html>